/*
Vizion-Al/ML-Digital Marketing Responsive HTML5 Template
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in
*/

/*****************
================================================
(  Media Queries  )
================================================
*******************/
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media only screen and (min-width: 1890px) and (max-width: 2529px) {
}
@media (max-width: 1600px) {
  .testimonial-info {
    right: -130%;
  }
  header.menu-sticky #nav-content {
    top: 0;
    margin-top: 0px;
  }
  .iq-about .right {
    padding-left: 100px;
  }
}
@media (max-width: 1399px) {
  .testimonial-info {
    right: -120%;
  }
  .index .container-fluid {
    padding: 0 50px;
  }
  header .container-fluid {
    padding: 0 50px;
  }
}
@media (max-width: 1365px) {
  .blogs {
    padding: 80px 30px 30px;
  }
  .client-list li {
    width: 25%;
  }
  .client-list li:nth-child(6),
  .client-list li:nth-child(12) {
    border-right: 1px solid #dedede;
  }
  .client-list li:nth-child(n + 7) {
    border-bottom: 1px solid #dedede;
  }
  .client-list li:nth-child(n + 9) {
    border-bottom: 0;
  }
  section#section2 img {
    width: 100%;
  }
}
@media (max-width: 1299px) {
  .banner .banner-text h1 {
    font-size: 48px;
    line-height: 58px;
  }
  .banner-type img {
    max-width: 100%;
  }
}
@media (max-width: 1199px) {
  .blogdetailbox .iq-blogbox .iq-blog-detail .blog-box {
    width: 75%;
  }
  footer .iq-subscribe-title {
    font-size: 32px;
  }
  header .main-header {
    padding: 10px 50px 10px 50px;
  }
  header.menu-sticky .main-header {
    padding: 10px 50px 10px 50px;
  }
  .pricing-box {
    margin-bottom: 30px;
  }
  footer .info-share a i.fab {
    line-height: 38px;
  }
  footer .info-share a {
    width: 39px;
    height: 39px;
    line-height: 38px;
  }
  .iq-team .share ul li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
  .blog-box .content {
    padding: 18px;
  }
  .title i {
    font-size: 20px;
    line-height: 30px;
  }
  .iq-team .iq-team-img,
  .iq-team .iq-team-img img {
    height: 100%;
    width: 100%;
  }
  .iq-team .iq-team-info {
    bottom: -175px;
  }
  .iq-team:hover .iq-team-info {
    bottom: 30px;
  }
  .iq-team .share ul {
    margin-top: 0;
  }
  .footer .iq-contact .icon {
    font-size: 50px;
  }
  .footer .iq-contact ul {
    padding-right: 30px;
  }
  .holderCircle,
  .holderCircle1 {
    height: 350px;
    width: 350px;
  }
  .round {
    height: 280px;
    width: 280px;
    left: 35px;
    top: 45px;
  }
  .contentCircle,
  .contentTestiminial {
    height: 230px;
    width: 230px;
    top: 50%;
  }
  .iq-about .right {
    padding-left: 50px;
  }
  .testimonial-info {
    right: -135%;
    width: 100%;
    top: 0;
  }
  .contentTestiminial {
    top: 53%;
  }
  .swiper-slide {
    padding: 80px 30px 30px;
  }
}
@media (max-width: 992px) {
  .blogdetailbox .iq-blogbox {
    margin: 50px 0 0 0;
  }
  .footer form.subscribe-form {
    margin-bottom: 0;
  }
  .footer a.subscribe-btn {
    position: relative;
  }
  footer .iq-subscribe {
    text-align: center;
    margin-bottom: 50px;
  }
  footer .iq-subscribe-title {
    margin-bottom: 50px;
  }
  .banner-type {
    text-align: center;
    margin-bottom: 30px;
  }
  header.menu-sticky .navbar-light .navbar-nav .nav-item a {
    color: #222222;
  }
  .sidemenu {
    display: none;
  }
  .client-list li,
  .iq-client-block .client-list li {
    width: 33.33%;
  }
  .client-list li:nth-child(n + 9) {
    border-bottom: 1px solid #dedede;
  }
  .iq-client-block .client-list li:nth-child(n + 5) {
    border-bottom: 1px solid #eeeeee;
  }
  .iq-client-block .client-list li:nth-child(4),
  .iq-client-block .client-list li:nth-child(8) {
    border-right: 1px solid #eeeeee;
  }
  .iq-client-block .client-list li:nth-child(3),
  .iq-client-block .client-list li:nth-child(6) {
    border-right: 0;
  }
  .iq-client-block .client-list li:nth-child(n + 7) {
    border-bottom: 0;
  }
  .iq-works-title {
    padding-bottom: 30px;
    text-align: center;
  }
  .iq-works-title h2,
  .iq-about h2,
  .iq-about .left {
    text-align: center;
  }
  .iq-about .left {
    padding: 0;
  }
  .iq-usecase {
    margin: 0 10px 30px 0;
  }
  .iq-whereuse .icon,
  .iq-whereuse {
    margin-bottom: 30px;
  }
  .iq-whereuse p {
    padding-right: 30px;
  }
  .iq-testimonial .left {
    text-align: center;
  }
  .footer form,
  .footer .map {
    margin-bottom: 50px;
  }
  #fullpage section {
    padding: 50px 0;
    height: 100% !important;
  }
  .fp-tableCell {
    height: 100% !important;
  }
  .iq-contactbox .contact-box .button {
    margin-bottom: 40px;
  }
  .iq-about-box {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .iq-tabs li a {
    font-size: 16px;
  }
  h4 {
    font-size: 20px;
    line-height: 30px;
  }
  h3 {
    font-size: 24px;
    line-height: 34px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
  section {
    padding: 50px 0;
  }
  .iq-rmb-30 {
    margin-bottom: 30px;
  }
  .how-it-works {
    text-align: center;
  }
  .iq-team {
    height: 263px;
    width: 263px;
    margin-top: 50px;
  }
  .iq-solution-info {
    padding: 0 0 100px;
  }
  footer .iq-subscribe-title::before {
    background-position: center center;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .iq-team:hover .iq-team-info {
    bottom: 60px;
  }
  .title-box {
    margin-bottom: 40px;
  }
  .banner {
    padding: 150px 0 124px 0;
  }
  .iq-team .share {
    top: 71px;
  }
  .iq-team .share ul li {
    margin: 12px 0;
  }
  .iq-clients .owl-carousel .owl-item img {
    margin: 0 auto;
  }
  .banner .banner-text {
    padding-top: 0;
  }
  .iq-tab.horizontal .nav-item {
    width: 26%;
    margin-bottom: 10px;
  }
  .iq-tab .nav-pills {
    background-color: transparent;
  }
  .iq-rmb-50 {
    margin-bottom: 50px;
  }
  .iq-team .share ul li a {
    width: 40px;
    height: 40px;
    line-height: 42px;
  }
  .blogdetailbox .iq-sidebar-widget .iq-post li {
    width: 100%;
  }
  .blogdetailbox .iq-sidebar-widget .post-img img {
    width: 60px;
  }
  header .navbar-light .navbar-collapse {
    position: absolute;
    top: 50px;
    padding: 15px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  }
  header .navbar-light .navbar-toggler {
    border-color: #ffffff;
  }
  header .navbar-light .navbar-nav .nav-item {
    padding: 0 0 10px;
  }
  header .navbar-light .navbar-nav .nav-link,
  header .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.9);
  }
  header .navbar-light .navbar-nav li.active .nav-link,
  header .navbar-light .navbar-nav li .nav-link:hover {
    color: #1835a9;
    background: transparent;
  }
  header.menu-sticky .navbar-light .navbar-nav li.active .nav-link,
  header.menu-sticky .navbar-light .navbar-nav li .nav-link:hover {
    color: #1835a9;
    background: transparent;
  }
  .banner .banner-text {
    margin-bottom: 40px;
  }
  header.menu-sticky .navbar-light .navbar-nav .nav-link,
  header.menu-sticky .navbar-light .navbar-nav .nav-link:focus,
  header .navbar-light .navbar-nav .nav-item a {
    color: #222222;
  }
  .banner {
    padding: 150px 0 9px 0;
  }
  header#header-fullpage {
    background: #fcc056;
  }
  .testimonial-info {
    right: -200%;
    width: 150%;
  }
  .footer .iq-contact .icon {
    width: 50px;
  }
  .iq-technology-details {
    padding: 30px;
  }
  .iq-technology-details .left {
    padding-right: 0;
  }
  .iq-technology-details .right {
    padding-left: 100px;
  }
  ul.iq-tag li {
    padding: 0 15px;
  }
  .iq-post-sidebar.right-side-blog {
    padding-left: 0;
  }
}
@media (max-width: 979px) {
  .title-box .sub-title {
    margin: 0 49px;
  }
  .banner-type img {
    max-width: 100%;
  }
  .how-it-works {
    text-align: center;
  }
  .iq-team .share ul li {
    margin: 5px 0;
  }
  .iq-team .share {
    top: 47px;
  }
  .iq-team:hover .iq-team-info {
    padding: 0;
  }
  .iq-breadcrumb3 img.iq-breadcrumb3-after {
    display: none;
  }
  .iq-breadcrumb3 {
    padding: 141px 0 85px 0;
  }
  .banner img.banner-after {
    display: none;
  }
  .banner {
    padding: 150px 0 65px 0;
  }
  .iq-frequently {
    padding: 60px 50px 40px 50px;
  }
  .iq-video {
    left: 10px;
  }
  .banner {
    padding: 150px 0 24px 0;
  }
  .finding-shap:before {
    width: 76%;
  }
  .Service-shap:before {
    width: 52%;
    height: 55%;
  }
  .tricks-shap:before {
    top: 26%;
    height: 74%;
  }
  .service-provide .services {
    padding: 30px 15px 20px 15px;
  }
}
@media (max-width: 767px) {
  .iq-comment-metadata {
    font-size: 14px;
  }
  .blogdetailbox .blog-commentbox .iq-comment-metadata a {
    float: left !important;
    margin-top: 10px;
  }
  .blogdetailbox .iq-blogbox .iq-blog-detail .blog-box {
    width: 100%;
    margin-top: 30px;
  }
  .blogdetailbox .iq-blogbox .iq-blog-detail .blog-box ul {
    padding: 0;
  }
  .blogdetailbox .iq-comment-list .media-body {
    padding: 15px 0 0 0;
  }
  .iq-solution-details h2 {
    font-size: 32px;
  }
  .iq-aboutus,
  .iq-solution-details,
  .iq-technology,
  .iq-blog,
  .iq-blog-detailbox,
  .iq-login-regi,
  .privacy-policy {
    margin: 15px;
  }
  .iq-about-details,
  .iq-solution-details,
  .iq-technology-details,
  .iq-all-blogs,
  .blogdetailbox,
  .iq-login-form,
  .iq-privacy {
    padding: 15px;
    margin-top: -80px;
  }
  .iq-about-box {
    padding: 15px;
  }
  .iq-technology-details {
    margin-bottom: 100px;
  }
  .iq-breadcrumb {
    text-align: center;
  }
  .iq-breadcrumb nav {
    float: none !important;
  }
  .iq-about-details h2 {
    text-align: center;
  }
  .iq-tabs {
    margin-bottom: 50px;
  }
  .iq-technology-details .left::before {
    display: none;
  }
  .diff {
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    margin: 50px auto;
  }
  .iq-technology-details .right {
    padding-left: 0;
  }
  .iq-client-block {
    padding: 0 15px;
  }
  .iq-client-block .client-list li:nth-child(3) {
    border-right: 1px solid #eeeeee;
  }
  .iq-client-block .client-list li:nth-child(2),
  .iq-client-block .client-list li:nth-child(4),
  .iq-client-block .client-list li:nth-child(6),
  .iq-client-block .client-list li:nth-child(8) {
    border-right: 0;
  }
  .subscribe-form input {
    width: 80%;
  }
  .footer form.subscribe-form {
    float: none;
  }
  footer .iq-subscribe {
    padding: 50px 30px;
  }
  .iq-usecase .icon,
  .iq-usecase,
  .iq-whereuse .icon,
  .iq-whereuse {
    text-align: center;
  }
  .iq-usecase p {
    padding-right: 0;
  }
  header .container-fluid {
    padding: 0 30px;
  }
  .index .container-fluid {
    padding: 0 30px;
  }
  .testimonial-info {
    left: 0;
    right: 0;
    top: 90px;
    position: relative;
  }
  .client-list li,
  .iq-client-block .client-list li {
    width: 50%;
  }
  .iq-coming .big-text {
    font-size: 50px;
    line-height: 60px;
  }
  .service-provide .rplr-30 {
    padding: 0 30px;
  }
  .sub-header .btn-group {
    display: none;
  }
  .iq-team {
    text-align: center;
    margin: 50px auto 0;
  }
  .button-banner {
    margin-bottom: 40px;
  }
  .how-it-works {
    text-align: center;
  }
  .title-box .sub-title {
    margin: 0 5px;
  }
  .iq-tab.horizontal .nav-item {
    width: 43%;
  }
  .iq-rmt-50 {
    margin-top: 50px;
  }
  h2 {
    font-size: 34px;
    line-height: 44px;
  }
  .blogdetailbox .media {
    display: inline-block;
  }
  .blogdetailbox .iq-comment-list .media-body h5 {
    margin-top: 10px;
  }
  .iq-coming .button {
    bottom: 0;
  }
  .iq-video {
    right: -5px;
    top: -29px;
  }
  header.menu-sticky .main-header {
    padding: 10px 50px 10px 50px;
  }
  header .main-header {
    padding: 10px 50px 10px 50px;
  }
  footer .footer-logo {
    margin-bottom: 30px;
  }
  footer .footer-menu li:first-child a {
    padding: 0.5rem 1rem 0.5rem 0;
  }
  .get-tips-tricks h3 {
    margin-top: 20px;
  }
  .iq-detail-box img {
    margin-top: 30px;
    width: 100%;
  }
  .error-box {
    height: 500px;
  }
  .blogdetailbox .iq-blog-entry .media-box li {
    display: inline-block;
  }
  .iq-testimonial .left {
    padding-right: 0;
  }
  .swiper-slide {
    width: 100% !important;
  }
  .iq-client-block .client-list {
    margin-bottom: 15px;
  }
  .footer .container-fluid {
    padding: 0 15px;
  }
}
@media (max-width: 600px) {
}
@media (max-width: 575px) {
  .iq-coming .iq-subscribe .form-control {
    width: 100%;
  }
  .iq-coming .big-text {
    font-size: 50px;
    color: #ffffff;
    line-height: 60px;
  }
}
@media (max-width: 479px) {
  .swiper-slide {
    padding: 30px 15px;
  }
  .blogs {
    padding: 30px 15px 30px;
  }
  .subscribe-form input {
    width: 70%;
  }
  .iq-aboutus .title-box,
  .iq-about-tab {
    padding: 0 15px;
  }
  .iq-ai-part .icon {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .iq-ai-part .part-info {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .iq-tabs {
    margin-bottom: 0;
  }
  .iq-team {
    height: 200px;
    width: 200px;
  }
  .iq-team:hover .iq-team-info {
    bottom: 40px;
  }
  .iq-client-block .client-list li {
    border-right: 0;
  }
  .iq-box {
    padding: 130px 30px;
  }
  .iq-tabs li {
    width: 100%;
    margin-bottom: 30px;
  }
  .iq-coming .big-text {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px !important;
  }
  .iq-tab .nav-pills {
    background: transparent;
    border: 1px solid transparent;
    padding: 0;
  }
  footer .footer-menu li:last-child a {
    padding: 0.5rem 0 0.5rem 0.8rem;
  }
  header.menu-sticky .main-header {
    padding: 10px 15px 10px 15px;
  }
  header .main-header {
    padding: 10px 15px 10px 15px;
  }
  .banner .banner-text h1 {
    font-size: 35px;
    line-height: 45px;
  }
  header .sub-main {
    padding-right: 0;
  }
  header .sub-header {
    padding: 10px 15px;
  }
  footer .right-footer {
    padding-right: 0;
  }
  footer .footer-menu li:first-child a {
    padding: 0.5rem 0.8rem 0.5rem 0;
  }
  footer .footer-menu li a {
    padding: 0.5rem 0.8rem;
    font-size: 14px;
  }
  footer .justify-content-between h6 {
    margin-bottom: 30px;
  }
  .button-banner {
    margin-bottom: 40px;
  }
  .how-it-works {
    padding: 10px;
  }
  .title-box .sub-title {
    margin: 0 5px;
  }
  .easy-pricing-plans.gray-bg {
    padding: 30px 0;
  }
  .title-box .title {
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 45px;
  }
  .iq-frequently {
    padding: 45px 15px;
  }
  h3 {
    font-size: 25px;
    line-height: 35px;
  }
  .iq-tab.horizontal .nav-item {
    width: 50%;
  }
  .iq-tab.horizontal .nav-item a {
    font-size: 14px;
    font-weight: 700;
  }
  .blogdetailbox .info-block {
    padding: 0;
  }
  .iq-login-regi .iq-login .link {
    text-align: left;
  }
  h1 {
    font-size: 42px;
    line-height: 52px;
  }
  .time-of-year .tooltip {
    width: 280px;
    left: 63%;
  }
  .iq-coming #countdown li {
    margin: 0;
  }
  .iq-coming #countdown li span {
    font-size: 24px;
    line-height: 24px;
  }
  .iq-coming #countdown li p {
    font-size: 14px;
    line-height: 20px;
    font-weight: inherit;
  }
  .iq-coming #countdown li span:after {
    content: none;
  }
  .iq-coming form .form-control {
    width: 230px;
  }
  .footer .iq-contact ul {
    width: 80%;
    padding: 0;
  }
  .footer .iq-contact .icon {
    font-size: 40px;
  }
  header .logo {
    width: 100px;
  }
  header .container-fluid,
  .index .container-fluid {
    padding: 0 15px;
  }
  .client-list li,
  .iq-client-block .client-list li {
    width: 100%;
  }
  .iq-how-works .row {
    margin: 0;
  }
  .round {
    left: 10px;
  }
  .dotCircle {
    left: -43px;
  }
  .contentCircle,
  .contentTestiminial {
    left: 43%;
  }
  .iq-about .right {
    padding-left: 0;
  }
  .testimonial-info {
    width: 100%;
  }
  .dotCircle1 {
    left: -50px;
  }
  .swiper-container {
    margin: 0 15px;
  }
}
@media (max-width: 359px) {
  .iq-coming .big-text {
    font-size: 32px;
    line-height: 42px;
  }
  .iq-coming h5 {
    font-size: 14px;
  }
  .iq-coming #countdown {
    margin-top: 20px !important;
  }
  .iq-coming .form-row > .col,
  .iq-coming .form-row > [class*="col-"] {
    width: 100%;
  }
  .iq-coming form .form-control,
  .iq-coming form .button {
    width: 100%;
    border-radius: 10px;
    text-align: center;
  }
}
